<div id="donate" class="ui small modal padding">
    <form (ngSubmit)="submit()" [formGroup]="donorForm">
        <h4 class="header"> Become a donor </h4>

        <div class="content">
            <div class="ui equal width form">

                <div class="field">
                    <label>Your unique link</label>
                    <div class="ui action input left icon" [ngClass]="{loading: isSearching}" >
                        <input [formControl]="donorForm.controls['link']" [(ngModel)]="donorData.link" name="link" type="text" placeholder="EAVQWE">
                        <i class="linkify icon"></i>
                    </div>
                </div>

                <div class="required field">
                    <label>First Name</label>
                    <div class="ui action input" [ngClass]="{'error':!donorForm.controls['firstname'].valid && donorForm.controls['firstname'].touched}">
                        <input [formControl]="donorForm.controls['firstname']" [(ngModel)]="donorData.firstname" name="firstname" type="text" placeholder="Michael">
                    </div>
                </div>

                <div class="required field">
                    <label>Last Name</label>
                    <div class="ui action input" [ngClass]="{'error':!donorForm.controls['lastname'].valid && donorForm.controls['lastname'].touched}">
                        <input [formControl]="donorForm.controls['lastname']" [(ngModel)]="donorData.lastname" name="lastname" type="text" placeholder="Phelps">
                    </div>
                </div>

                <div class="required field">
                    <label>Contact Number</label>
                    <div class="ui action input" [ngClass]="{'error':!donorForm.controls['phone'].valid && donorForm.controls['phone'].touched}">
                        <input [formControl]="donorForm.controls['phone']" [(ngModel)]="donorData.phone" name="phone" type="tel" placeholder="xx xxx xxxx xxx">
                    </div>
                </div>

                <div class="required field">
                    <label>Email</label>
                    <div class="ui action input" [ngClass]="{'error':!donorForm.controls['email'].valid && donorForm.controls['email'].touched}">
                        <input [formControl]="donorForm.controls['email']" [(ngModel)]="donorData.email" name="email" type="email" placeholder="john@deo.com">
                    </div>
                </div>

                <div class="required field">
                    <label>Blood Group</label>
                    <div class="ui action input" [ngClass]="{'error':!donorForm.controls['blood_group'].valid && donorForm.controls['email'].touched}">
                        <input [formControl]="donorForm.controls['blood_group']" [(ngModel)]="donorData.blood_group" name="blood_group" type="text"
                            placeholder="AA">
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="actions">
            <button type="button" (click)="hideMessage()" class="ui negative button">
                Close
            </button>

            <button *ngIf="!donorForm.controls['link'].enabled" type="submit" [ngClass]="{loading: transacting}" [disabled]="!donorForm.valid" class="ui submit primary button">
                Become a Donor
            </button>

            <button (click)="update()" *ngIf="donorForm.controls['link'].enabled" type="button" [ngClass]="{loading: transacting}" [disabled]="!donorData.firstname" class="ui submit primary button">
                Update
            </button>

            <button (click)="delete()" *ngIf="donorForm.controls['link'].enabled" type="button" [ngClass]="{loading: transacting}" [disabled]="!donorData.firstname" class="ui inverted submit red button">
                Delete
            </button>
        </div>

        <div *ngIf="notification.message" [ngClass]="{positive: notification.status, warning: !notification.status}" class="ui message">
            <i class="close icon"></i>
            <div class="header">
                {{notification.header}}
            </div>
             <span [innerHtml]="notification.message"></span>
        </div>
    </form>

</div>
