<div id="profile" class="ui small modal">
    <div class="content">
        <div class="ui card">
            <div class="card">
                <div class="content">
                    <h4 class="ui sub header">{{donor.firstname}}, {{donor.lastname}}</h4>
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Phone:</a> {{secret.phone}}
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Email:</a> {{secret.email}}
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Blood Group:</a> {{donor.blood_group}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached button">
                    <i class="unhide icon"></i> click to show
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="actions">
        <button class="ui negative button">Close</button>
    </div>
</div>
