<div id="profile" class="ui small modal">
    <h4 class="ui sub header">{{donor.firstname}}, {{donor.lastname}}</h4>
    
    <div class="content">
        
        <div>
            <a>Phone:</a> {{secret.phone}}
        </div>
        <div>
            <a>Email:</a> {{secret.email}}
        </div>
        <div>
            <a>Blood Group:</a> {{donor.blood_group}}
        </div>
        
    </div>

    <br>

    <div class="actions">
        <button (click)="reveal()" class="ui button">
            <i class="unhide icon"></i> Click to unhide
        </button>
        <button (click)="reset()" class="ui negative button">Close</button>
    </div>
</div>
